.search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw
}

.search__input{
    flex-grow: 1;
    height: 30px;
    width: auto;
    font-size: 16px;
    padding: 0 10px 0;

}

.search__button{
    flex-basis: 150px;
    background-color: #2a3853;
    border: none;
    color: #dfddbd;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height: 34px;
}

.search__button:hover{
    background-color: #3c4f74;
}