.app {
  color: aliceblue;
  /* text-align: center; */
  min-height: 100vh;
  background-color: #282c34;
}

.app__content{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.app__content .list{
  flex-grow: 1;
}