.list{
    flex-grow: 1;
}

.list__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
}

.list__content__item{
    margin: 0 10px 20px;
}

.list__next{
      text-align: center;
      padding: 20px 0 50px;
}

.list__next button{
    width: 150px;
    height: 34px;
    background-color: #2a3853;
    border: none;
    color: #dfddbd;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.list__next button:hover{
    background-color: #3c4f74;
}